@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
}
.js-submit-button {
  height: 75px;
  width: 150px;
  margin-left: 40%;
  margin-top: 10%;
}
.data {
  border: 1px solid gray;
  width:200px;
  min-height: 100px;
  margin-left: 40%;
  list-style-type: none;
}
